/*----------------------------------
   CNRBAS.RC resource script file
  ----------------------------------*/
#include <os2.h>
#include "cnrbas.h"

MENU SAMPLE_MENU_ID  LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  SUBMENU  "View", SAMPLE_MAIN_MENU, MIS_TEXT
  BEGIN
    MENUITEM "Text", TEXTV_ID, MIS_TEXT
    MENUITEM "Text-Flowed", TEXTV_FLOWED_ID, MIS_TEXT
    MENUITEM "Name", NAMEV_ID, MIS_TEXT
    MENUITEM "Name-Flowed", NAMEV_FLOWED_ID, MIS_TEXT
    MENUITEM "Icon", ICONV_ID, MIS_TEXT
    MENUITEM "Tree-Icon", TREEV_ID, MIS_TEXT
    MENUITEM "Details", DETAILSV_ID, MIS_TEXT
  END
  SUBMENU  "Exit", SAMPLE_MAIN_EXIT, MIS_TEXT
  BEGIN
    MENUITEM "Quit", SAMPLE_MENU_QUIT, MIS_TEXT
  END
END

ICON SAMPLE_MENU_ID LOADONCALL MOVEABLE DISCARDABLE person.ico
ICON ID_PERSON_ICON LOADONCALL MOVEABLE DISCARDABLE person.ico
ICON ID_JOB_ICON LOADONCALL MOVEABLE DISCARDABLE job.ico
